NODE_ENV=production
REACT_APP_API_URL="Your API url here! like -> http://127.0.0.1:5500"
REACT_APP_API_GOOGLE_OAUTH2_URL="${REACT_APP_API_URL}/path/to/google-auth/"
REACT_APP_CLIENT_URL="Your Client url here! like -> http://127.0.0.1:3000"